.jatekosma-container {
    border-radius: 50px;
    background: #dbdbdb;
    box-shadow:  20px 20px 60px #ffffffc7,
                 -20px -20px 60px #000000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    width: 550px;
    height: 410px;
    text-align: center;
    padding-bottom: 20px;
}

.jatekosma-container h1 {
    font-size: 30px;
}

.jatekosma-container p {
    font-size: 24px;
    text-align: center;
}

.jatekosma-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: auto;
}

.jatekosma-container button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .jatekosma-container {
        width: 420px;
        padding-bottom: 0px;
        max-width: 90%;
    }

    .jatekosma-container h1 {
        font-size: 21px;
        text-align: center;
    }

    .jatekosma-container p {
        font-size: 20px;
        text-align: center;
    }

    .jatekosma-container img {
        height: 170px;
        width: 170px;
        object-fit: cover;
    }
}

.jatekosma-container button {
    display: block;
    margin: auto;
    margin-top: 25px;
}